/* Звільняємо посилання від підкреслень та списки від маркерів */

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/* Для кнопки - ручка) та фон */

button {
  cursor: pointer;
  font-family: inherit;
}

/* Задаємо глобальний стиль */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header. Вибір шріфта, його ваги, розміру, коліру та ефекти hover/focus для посилання WebStudio. Зміна кольору слова Web */

.head-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-head {
  color: #2e2f42;
}
.head-logo:hover,
.head-logo:focus {
  color: #404bbf;
}

.head-address {
  font-style: normal;
}
/* Зміни навігаційних посилань: колір, вага. Додавання ефектів hover/focus */

.menu-list-link {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-list-link:hover,
.menu-list-link:focus {
  color: #404bbf;
}
/* Зміни контактних посилань: колір. Додавання ефектів hover/focus. Вага за замовчанням правильна. */

.contact-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* Кнопка. Зміна розміру шрифта, його ваги, кольору. Зміна фонового кольору. Задання розміру кнопки та ефектів hover/focus */

.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Секція Benefits */

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція Team. Змінили фон секції, виправілі після цього фон комірок на білий та задали їх ширину. Текст вирівняли по центру як заголовка секції так і всередині комірок */

.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Ширину для класу team-member додав виключно для естетики. !!!НЕ ЗАБУТИ ВІДРЕДАГУВАТИ!!!*/

.team-member {
  background-color: #ffffff;
  text-align: center;
}
.team-members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-member-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція portfolio */

.portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list-item {
  text-align: center;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer. Змінено фон, колір лого та розмір його шрифту. Додані hover/focus */
.page-footer {
  background-color: #2e2f42;
}
.foot-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #4d5ae5;
}
.foot-logo:hover,
.foot-logo:focus {
  color: #404bbf;
}
.logo-part {
  color: #f4f4fd;
}
.foot-text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  line-height: 1.5;
}
