/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --primary-white-color: #ffffff;
  --footer-background: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --button-portfolio-background: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contact-nav .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-info .nav-link:hover,
.contact-info .nav-link:focus {
  color: var(--accent-color);
}

.list {
  list-style-type: none;
}

.logo {
  color: var(--primary-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-logo-color);
}

/* h2,
h3 {
  color: var(--title-text-color);
} */

/*футер*/
.bottom {
  background: var(--footer-background);
  font-family: inherit;
}

footer .logo-studio {
  color: var(--primary-white-color);
}

.contact-info .nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contacts);
}

.contact-info .nav-map {
  color: var(--primary-white-color);
}

/*hero*/
.hero {
  background-color: var(--footer-background);
}

.hero .top {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero button:hover,
.hero button:focus {
  background-color: #188ce8;
}

.features-titel {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list-item {
  background-color: var(--primary-white-color);
}

/* портфолио */

/*фильтр*/
.filter button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--button-portfolio-background);
  text-align: center;
  letter-spacing: 0.03em;
}

.filter button:focus,
.filter button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.work-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-filter {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
